body{
    background: linear-gradient(#A9A9A9, #696969);
}

header{
    text-align: center;
}

.logo{
    border-bottom: 5px solid white;
    width: 100%;
}

main{
    margin: 2em 5em;
}

.cegoPauzinho{
    float: right;
    width: 35%;
    margin-right: 3em;
}

.nossoSite{
    text-align: center;
}

.divisoes{
    background-color: white;
    padding: 1em;
    width: 50%;

    border: 1px solid #000000;
    box-shadow: 5px 5px 10px 2px #000000;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    margin-bottom: .75em;
}

.textoSite, .propositoTexto, .projetoTexto{
    font-size: 1.15em;
    font-family: 'Montserrat', sans-serif;
}

strong{
    font-weight: bold;
}

.apenasUmHomemCego{
    text-align: center;
    margin-top: 2em;
}

.senhorCego{
    width: 75%;

    border: 2px solid #000000;
    border-radius: 15px;
}

.sobreNos{
    margin: 2em auto 0 auto;    
}

h2{
    font-family:'Bebas Neue', sans-serif;
}

.sobreNos h2{
    font-size: 1.3em;
    margin-bottom: .5em;
}

.sobreNos li{
    margin-bottom: .25em;
    font-family: 'Montserrat', sans-serif;
}

.proposito, .projeto{
    text-align: center;
    margin-top: 1em;
}

.propositoTexto{
    text-align: center;
    text-decoration: underline;
}

.projetoTexto{
    text-align: center;
}

.projetoTexto a{
    color: #000000;
}

footer{
    background-image: url(../Img/footerBG.jpg);

    text-align: center;
    padding: 3em;
}

.oculos{
    width: 30%;
}

.textoFooter{
    color: white;
    font-size: 15px
}

@media screen and (max-width: 500px) {
    main{
        margin: 2em 5em;
    }

    .imagemDoCegoPauzinho{
        text-align: center;
        margin-bottom: 2em;
    }

    .cegoPauzinho{
        float: none;
    }

    .divisoes{
        width: 100%;
    }

    .senhorCego{
        width: 80%;
    }
}